{
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": [2, "never"],
    "quotes": 0,
    "curly": [2, "multi-line"],
    "eqeqeq": 0,
    "no-shadow": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "__dirname": true,
    "global": true,
    "process": true,
    "require": true,
    "module": true,
    "console": true,
    "describe": true,
    "it": true,
    "assert": true,
    "assertFileExists": true,
    "cleanup": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "inject": true,
    "sinon": true,
    "context": true,
    "SRC_DIR": true
  }
}